html{
    background-color: blue;
    font-family: 'Fredoka', sans-serif;
}
body{
    margin: 0px auto 50px;
    width: 600px;
    height: auto ;
    background-color: orange;
    border: 7px solid black;
}
p,li{
    padding:0 15px;
    text-align: left;
    font-size: 15px;
   letter-spacing: 1.2px;
}
h1{
    color: blue;
    font-size: 50px;
    text-shadow:2px 3px 1px black;
    text-align: center;
}
img[src="Image/flour3.jpg"]{
    display: block;
    width: 300px;
    margin:0 auto;
}
img[src="Image/flour4.jpg"]{
    display: block;
    width: 300px;
    margin:0 auto;
}
